{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "tsx", "jsx", "json", "css", "html"],
        "plugins": ["show-language"],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
